asgiref
bcrypt
blinker
certifi
cffi
charset-normalizer
click
colorama
cors
cryptography
filelock
Flask
Flask-Bcrypt
flask-cors
Flask-JWT-Extended
Flask-SQLAlchemy
future
gevent
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
pycparser
PyJWT
PySocks
requests
requests-file
SQLAlchemy
sqlparse
tldextract
typing_extensions
urllib3==2.3.0
Werkzeug==3.1.3
zope.event==5.0
zope.interface==7.2
